:root {
  --black-dt: #1e2023;
  --accet-green-dt: #14c57c;
  --white-dt: #f0f0f0;
  --charcoal-dt: #2a2d32;
  --hover-charcoal-dt: #3b3f45;
  --dark-accet-dt: #204136;
  --hover-green-dt: #009156;
  --error: #e74a3b;
  --main-font: "Poppins", sans-serif;
  --second-font: "Impact", sans-serif;
}

@font-face {
  font-family: "Impact";
  src: url("./assets/fonts/impact.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

html {
  scroll-behavior: smooth;
}
